.cus-h3 {
	line-height: 5px;
}
.nav > li > a {
	padding-top: 8px;
	padding-bottom: 8px;
}
table.list-order-num {
	counter-reset: my-badass-counter;
}

table.list-order-num td:nth-child(1):before {
	color: rgb(51, 122, 183);
	content: counter(my-badass-counter);
	counter-increment: my-badass-counter;
}

.text-top {
	vertical-align: top;
}
.mr5 {
	margin-right: 5px;
}
.err {
	color: red;
}

::-webkit-input-placeholder {
	font-style: italic !important;
    color: #CCC !important;
}
:-moz-placeholder { /* older Firefox*/
	font-style: italic !important;
    color: #CCC !important;
}
::-moz-placeholder { /* Firefox 19+ */ 
	font-style: italic !important;
    color: #CCC !important;
} 
:-ms-input-placeholder { 
	font-style: italic !important;
    color: #CCC !important;
}

select {
	width: auto;
}

.dd-handle, .dd2-content {
    display: block;
    min-height: 38px;
    margin: 5px 0;
    padding: 8px 12px;
    background: #F8FAFF;
    border: 1px solid #DAE2EA;
    color: #7C9EB2;
    text-decoration: none;
    font-weight: 700;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.infobox-blue.infobox-dark {
    background-color: #6fb3e0;
}
.inner {
	color: #FFF;
}
#page-wrapper {
	background-color: #FFF;
}