.cus-h3 {
	line-height: 5px;
}
.nav > li > a {
	padding-top: 8px;
	padding-bottom: 8px;
}
table.list-order-num {
	counter-reset: my-badass-counter;
}

table.list-order-num td:nth-child(1):before {
	color: rgb(51, 122, 183);
	content: counter(my-badass-counter);
	counter-increment: my-badass-counter;
}

.text-top {
	vertical-align: top;
}
.mr5 {
	margin-right: 5px;
}
.err {
	color: red;
}

::-webkit-input-placeholder {
	font-style: italic !important;
    color: #CCC !important;
}
:-moz-placeholder { /* older Firefox*/
	font-style: italic !important;
    color: #CCC !important;
}
::-moz-placeholder { /* Firefox 19+ */ 
	font-style: italic !important;
    color: #CCC !important;
} 
:-ms-input-placeholder { 
	font-style: italic !important;
    color: #CCC !important;
}

select {
	width: auto;
}

.dd-handle, .dd2-content {
    display: block;
    min-height: 38px;
    margin: 5px 0;
    padding: 8px 12px;
    background: #F8FAFF;
    border: 1px solid #DAE2EA;
    color: #7C9EB2;
    text-decoration: none;
    font-weight: 700;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.infobox-blue.infobox-dark {
    background-color: #6fb3e0;
}
.inner {
	color: #FFF;
}
#page-wrapper {
	background-color: #FFF;
}
.note-div {
	color: #5E715B;
	margin-left:5px;
}
.note_voucher {
	text-decoration: underline;
    font-style: italic;
}
ul.list-note {
	margin-left: 70px;
}
.div-signature {
	margin-top: 30px;
}
.so-light-green {
	color: #5E715B;
}
.fw-500 {
	font-weight: 500;
}
table.tbl-voucher {
	width: 100%;
}
table.tbl-voucher td.td-value {
	font-weight: 500;
}
table.tbl-voucher td.td-left {
	color: #5E715B;
	line-height: 25px;
	padding-right: 15px;
	vertical-align: top;
	width: 40%;
}
table.tbl-voucher-right td.td-left {
    width: 55%;
}
table.tbl-voucher-schedule th {
    background-color: #B2BFB1;
    color: #5E715B;
}
table.tbl-voucher-schedule th, table.tbl-voucher-schedule td {
	text-align: center;
}
table.tbl-voucher-right {
	float: right;
}
table.tbl-100 {
	width: 100%;
}
table.tbl-90 {
	width: 90%;
}
div#invoice-no {
    margin-top: 35px;
}
/* Enable print background on Chrome */
body{
  -webkit-print-color-adjust:exact;
}
@media print {
	table.tbl-voucher-schedule th {
	    background-color: #B2BFB1 !important;
	    color: #5E715B !important;
	    font-weight: normal !important;
	}
	table.tbl-voucher td.td-left {
		color: #5E715B !important;
		line-height: 25px !important;
		padding-right: 15px !important;
		vertical-align: top !important;
		width: 55% !important;
	}
	.note-div {
		color: #5E715B !important;
		margin-left:5px !important;
	}
	.note-div {
		color: red !important;
	}
	.so-light-green {
		color: #5E715B !important;
	}
	.fw-500 {
		font-weight: 500 !important;
	}
}